# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='narsteotsranrsaneitarnioe'

# Mongo DB
# Local development
MONGODB_URI='mongodb://localhost/akela'
DB_USERNAME='api-user'
DB_PASSWORD='api-password'

# Port
PORT=4000

# Debug
LOG_LEVEL='silly'

MAILGUN_API_KEY=''
MAILGUN_DOMAIN=''

FRONTEND_URL='http://localhost:5000'
